@charset "UTF-8";
/* ОБНУЛЕНИЕ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ============================ */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.header {
  min-height: 100vh;
  background: url(../img/bg.jpg) center/cover no-repeat;
}

.header__menu {
  padding: 35px 0;
}

.menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.menu__item {
  color: #4d4959;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.about-us {
  padding: 110px 0 130px;
  background: #f7f7f7;
}

.about-us__text-block {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.text-block {
  text-align: center;
  padding: 50px 70px;
}

.text-block__icon {
  margin: 0 0 30px 0;
}

.text-block__title {
  font-size: 1.125rem;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 3px;
  color: #353738;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.text-block__text {
  color: #848789;
  font-size: 1.125rem;
  line-height: 1.8;
}

.work__bike--1 .bike__big-image {
  background: url(../img/work/01.jpg) center/cover no-repeat;
}

.work__bike--1 .bike__small-image {
  background: url(../img/work/small-01.jpg) center/cover no-repeat;
}

.work__bike--2 .bike__big-image {
  background: url(../img/work/02.jpg) center/cover no-repeat;
}

.work__bike--2 .bike__small-image {
  background: url(../img/work/small-02.jpg) center/cover no-repeat;
}

.work__bike--3 .bike__medium-image {
  background: url(../img/work/03.jpg) center/cover no-repeat;
}

.work__bike--3 .bike__medium-image--second {
  background: url(../img/work/04.jpg) center/cover no-repeat;
}

.work__bike--3 .bike__small-image {
  background: url(../img/work/small-03.jpg) center/cover no-repeat;
}

.bike {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column: span 6;
}

.bike__big-image {
  grid-column: span 4;
  grid-row: span 3;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.bike__big-image:hover {
  background-position: top;
}

.bike__logo {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bike__text-block, .bike__small-image, .bike__medium-image {
  grid-column: span 2;
}

.bike__text-block {
  grid-row: span 2;
}

.bike__text-block .text-block__text {
  text-align: left;
}

.bike__small-image {
  grid-row: span 1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.bike__small-image:hover {
  background-position: top;
}

.bike__medium-image {
  grid-row: span 3;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.bike__medium-image:hover {
  background-position: top;
}

.twitter {
  padding: 120px 0 70px;
  background: #f7f7f7;
}

.twitter__body {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  text-align: center;
}

.twitter__icon {
  margin: 0 0 35px 0;
}

.twitter__title {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 25px 0;
}

.twitter__title span {
  color: #848789;
}

.twitter__text {
  color: #848789;
  line-height: 1.7;
  margin: 0 0 100px 0;
}

.twitter__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.twitter__button {
  width: 12px;
  height: 12px;
  border: 1px solid #a9afb3;
  border-radius: 50%;
  cursor: pointer;
}

.twitter__button:hover {
  background: #a9afb3;
}

.twitter__button:not(:last-child) {
  margin: 0 10px 0 0;
}

.shop__bottom {
  padding: 75px 0;
  background: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__button {
  background: #282f35;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 18px 55px;
  letter-spacing: 3px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.shop__button:hover {
  background: #fff;
  color: #282f35;
}

.shop__button:focus {
  border: 1px solid #627483;
}

.shop-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(160px, 1fr));
}

.shop-top__image {
  position: relative;
  padding: 0 0 51% 0;
}

.shop-top__image:hover > img {
  -o-object-position: top;
     object-position: top;
}

.shop-top__image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.shop-top__image--small {
  grid-column: span 1;
  grid-row: span 1;
}

.shop-top__image--medium {
  grid-column: span 2;
  grid-row: span 1;
}

.shop-top__image--vertical {
  grid-column: span 1;
  grid-row: span 2;
  padding: 0 0 100% 0;
}

.shop-top__image--link {
  grid-column: span 2;
  grid-row: span 1;
  background: #58a589;
}

.shop-top__image--link > img {
  opacity: 0.2;
}

.shop-top__image--link:hover > img {
  opacity: 0.5;
}

.shop-top__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.shop-top__logo-img {
  display: block;
}

.shop-top__logo-text {
  font-size: 0.875rem;
  color: #fff;
}

.mailing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 105px 0;
}

.mailing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.mailing__logo {
  margin: 0 0 40px 0;
}

.mailing__label {
  font-style: italic;
  margin: 0 0 40px 0;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mailing-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #d3d7d9;
  padding: 27px 30px;
  margin: 0 9px 0 0;
  color: #d3d7d9;
  font-style: italic;
}

.mailing-form__input:focus {
  border: 1px solid #000;
}

.mailing-form__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 125px;
          flex: 0 1 125px;
  padding: 25px 45px;
  background: #64c29e;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.mailing-form__button:hover {
  background: #529e81;
}

.mailing-form__button:focus {
  border: 1px solid #000;
}

.footer {
  padding: 100px 0;
  background: #f7f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.footer__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__adress {
  color: #8d9092;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.4;
}

.footer__adress-text span {
  font-style: normal;
  color: #848789;
  font-size: 1rem;
}

.footer__social-link {
  margin: 0 10px 0 0;
}

.footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}

.footer__credits span {
  color: #8d9092;
  font-style: italic;
  margin: 0 10px 0 0;
}

@media (max-width: 1199px) {
  .about-us {
    padding: 80px 0 70px;
  }
  .about-us__text-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .work__bike--2 .text-block {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .work__bike--2 .bike__small-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work__bike--3 .text-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .work__bike--3 .bike__small-image {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .bike {
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .bike__big-image {
    grid-column: span 6;
    grid-row: span 3;
  }
  .bike__text-block, .bike__small-image {
    grid-column: span 3;
    grid-row: span 3;
  }
  .bike__medium-image {
    grid-column: span 3;
  }
  .twitter__body {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .shop-top {
    -ms-grid-columns: (minmax(160px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}

@media (max-width: 1023px) {
  .text-block {
    padding: 50px 25px;
  }
  .bike__text-block .text-block__text {
    text-align: center;
  }
  .bike__text-block, .bike__big-image, .bike__medium-image, .bike__small-image {
    grid-row: span 2;
  }
  .bike__text-block, .bike__medium-image, .bike__small-image {
    grid-column: span 6;
  }
  .work__bike--2 .text-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work__bike--2 .bike__small-image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .work__bike--3 .text-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work__bike--3 .bike__medium-image--second {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .twitter {
    padding: 50px 25px;
  }
  .mailing-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .mailing-form__input {
    margin: 0 0 10px 0;
  }
  .mailing-form__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .mailing__container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .footer {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer__container {
    padding: 0 15px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
}

@media (max-width: 575px) {
  .menu__list {
    gap: 15px;
  }
  .menu__list i {
    display: none;
  }
  .text-block {
    padding: 50 15px;
  }
  .mailing__container {
    padding: 0 15px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
}
/*# sourceMappingURL=style.css.map */